/* External Style Sheet (Affects all pages linked)*/

/* Style ideas for fmab.html  
    h1,h2,h3,p: centered
    img: centered -> May require flex boxes since I want two images side by side and centered
    .bg_fmab{
        background-image: url('../final_project_images/fmab_banner');
        background-size: 5%;
    }
    img{max-width: 100%}
*/

/* Style ideas for dmc_5.html             
    h1,h2,h3,p,img: centered
    img{max-width: 100%}
    .bg_dmc{
        background-image: url('../final_project_images/fmab_banner');
        background-size: 5%;
    }
*/

/* Style for index.html 
Questions to ask: 
How would I go about spacing this better?
Will resizing the image using rules cause more issues than sizing it in photoshop?
*/
h1,h2,h3,p{
    text-align: center;
    margin: 1em
}
.resize1{max-width: 40%}
body{background-color: #d2c7c7a9;}

/* Media Query */
@media only screen and (max-width: 768px) {
    nav a{
        width: 100%;
        display: block;
        padding: .5rem;
        text-align: center;
    }
    nav span{display: none;}
}
