/* External Style Sheet (Affects all pages linked)*/

/* Style ideas for fmab.html  
    h1,h2,h3,p: centered
    img: centered -> May require flex boxes since I want two images side by side and centered
    .bg_fmab{
        background-image: url('../final_project_images/fmab_banner');
        background-size: 5%;
    }
    img{max-width: 100%}
*/

/* Style ideas for dmc_5.html             
    h1,h2,h3,p,img: centered
    img{max-width: 100%}
    .bg_dmc{
        background-image: url('../final_project_images/fmab_banner');
        background-size: 5%;
    }
*/

/* Style ideas for index
<style>
    h1,h2,h3,p,img: centered
    img{max-width: 100%}
</style>
*/

/* Media Query 
@media only screen and (max-width: 768px) {

}
*/