/* Style ideas for fmab.html  
<style>
    h1,h2,h3,p: centered
    img: centered -> May require flex boxes since I want two images side by side and centered
    .bgimage{
        background-image: url('../final_project_images/fmab_banner');
        background-size: 5%;
    }
    img{max-width: 100%}
</style> 
*/