body{background-color: #9eacb1;}
text{color: #1c124b;}
link{color: #3dcdec;}
    a:visited{color: #080697;}
    a:hover{background-color: #b9cf26}
h1,h2,h3{color: #8b34a9;}
nav{background-color: #ffffff;}
nav{color: #8b34a9;}
nav{padding: 10px;}
nav{margin-bottom: 30px;}
    nav a:hover{background-color: #b716c1;}
    nav a{color: #342663;}
tr.evenrow{background-color:purple}
table, th, td {border: 2px solid purple;}
.skillstable table{margin: 0 auto;}
.skillsimage{text-align: center; flex: 1;}
.clear{clear: both;}
